@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}

.mobileNavbar{
  display: none;
}


@media(max-width: 768px){
  /* NAVBAR */
  .navBtns{
    display: none;
  }

  .mobileNavBtn{
    display: block;
  }

  /* MOBILE NAVBAR */

  .mobileNavbar{
    display: block;
  }

  .mobileNavbar.show{
    left: 0;
  }

  /* HOME SHOWCASE */

  .homeShowcaseItems{
    padding-bottom: 20px;
  }

  .homeShowcaseItems h1{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .gridText{
    order: 1;
    margin-top: 20px;
    text-align: center;
  }
  
  .showcaseGrid{
    grid-template-columns: 1fr;
  }

  .gridImg{
    width: 400px;
  }

  .gridImgDiv{
    display: flex;
    justify-content: center;
  }

  /* Register page */

  .registerPage{
    padding: 0;
  }

  .formDiv{
    padding: 10px 20px;
  }

  /* LoginPage */

  .loginPage{
    padding: 0;
  }

}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
